---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Sources"><h2>Sources</h2><div>

<ol>
    <li>Amy. "Ramen Pad Thai". 19 Apr 2023. <i>Belly Full</i>, <a href="https://www.bellyfull.net/ramen-pad-thai/">https://www.bellyfull.net/ramen-pad-thai/.html</a>. Accessed 16 Jan 2024. ((Amy, *Ramen Pad Thai*))</li>
    <li>Aumann, Mandi. <i>What Mandi Knows</i>. 20 Dec. 2023.</li>
    <li>Avery, Mike. “Sourdough Home – An Exploration of Sourdough.” <i>Sourdough Home: An Exploration of Sourdough</i>, <a href="https://www.sourdoughhome.com/">https://www.sourdoughhome.com/.html</a>. Accessed 20 Dec. 2023. ((Avery))</li>
    <li>-----. “Blueberry Muffins - Sourdough Home.” <i>Sourdough Home: An Exploration of Sourdough</i>, <a href="https://www.sourdoughhome.com/blueberry-muffins">https://www.sourdoughhome.com/blueberry-muffins.html</a>. Accessed 28 Dec. 2023. ((Avery, *Blueberry Muffins - Sourdough Home*))</li>
    <li>Chungah. “Sourdough Biscuits.” <i>Damn Delicious</i>, 25 July 2020, <a href="https://damndelicious.net/2020/07/24/sourdough-biscuits/">https://damndelicious.net/2020/07/24/sourdough-biscuits/</a>. Accessed 29 Jan 2024. ((Chunga, *Sourdough Biscuits*))</li>
    <li>Cox, Janice. <i>Natural Beauty at Home: More than 200 Easy-to-Use Recipes for Body, Bath, and Hair</i>. 1st ed, H. Holt, 1994. ((Cox, pg#))</li>
    <li>Dolan, Heather. “Holly Christmas Cookies.” <i>Allrecipes</i>, 13 July 2023, <a href="https://www.allrecipes.com/recipe/9498/holly-christmas-cookies/">https://www.allrecipes.com/recipe/9498/holly-christmas-cookies/.html</a>. Accessed 21 Dec. 2023. ((Dolan))</li>
    <li>Duska, Amy. "Sourdough Crepes." <i>Little Spoon Farm</i>, 16 July 2020, <a href="https://littlespoonfarm.com/sourdough-crepes-recipe/">https://littlespoonfarm.com/sourdough-crepes-recipe/</a>. Accessed 19 Dec 2023. ((Duska, "Sourdough Crepes"))</li>
    <li>Foster, Kelli. "Mushroom Parmesan Recipe." <i>Kitchn</i>, 13 Jan, 2024, <a href="https://www.thekitchn.com/mushroom-parmesan-recipe-23621371">https://www.thekitchn.com/mushroom-parmesan-recipe-23621371.html</a>. Accessed 24 Feb 2024. ((Foster, "Mushroom Parmesan Recipe"))</li>
    <li>Heyes, Becca. "Easy Cheesy Vegetarian - Simple Vegetarian Recipes." <i>Easy Cheesy Vegetarian</i>, <a href="https://www.easycheesyvegetarian.com/">https://www.easycheesyvegetarian.com/.html</a>. Accessed 19 Jan. 2025. ((Heyes))</li>
    <li>Kelley, Mary Ann. “Easy Crockpot Albondigas Soup (Mexican Meatball Soup).” <i>Add Salt & Serve</i>, <a href="https://www.addsaltandserve.com/mexican-meatball-soup/">https://www.addsaltandserve.com/mexican-meatball-soup/.html</a>. Accessed 19 Dec. 2023. Originally sourced from Menus4Moms, a previous brand of the same company. ((Kelley, "Easy Crockpot Albondigas Soup (Mexican Meatball Soup)"))</li>
    <li>Maffucci, Ali. “Vegetarian Lentil Meatballs.” <i>Inspiralized</i>, 10 Apr. 2022, <a href="https://inspiralized.com/vegetarian-lentil-meatballs/">https://inspiralized.com/vegetarian-lentil-meatballs/.html</a>. Accessed 24 Feb 2024. ((Maffucci, "Vegetarian Lentil Meatballs"))</li>
    <li>Marek, Elizabeth. “Sourdough Discard Pancake Recipe.” <i>Sugar Geek Show</i>, 7 May 2020, <a href="https://sugargeekshow.com/recipe/sourdough-discard-pancakes/">https://sugargeekshow.com/recipe/sourdough-discard-pancakes/.html</a>. Accessed 21 Dec. 2023. ((Marek))</li>
    <li>Slavic Vegan. “Uzvar (Dried Fruits Infusion).” <i>Slavic Vegan</i>, <a href="https://www.slavicvegan.com/2019/01/07/uzvar-dried-fruits-infusion/">https://www.slavicvegan.com/2019/01/07/uzvar-dried-fruits-infusion/.html</a>. Accessed 19 Dec. 2023. ((Slavic Vegan, "Uzvar (Dried Fruits Infusion)"))</li>
    <li>Stadler, Melissa. "Homemade Naan Bread." <i>Modern Honey</i>, 29 Oct. 2021, <a href="https://www.modernhoney.com/homemade-naan-bread/">https://www.mondernhoney.com/homemade-naan-bread/</a>. Accessed 14 Mar 2024. ((Stadler, <i>Homemade Naan Bread</i>))</li>
    <li>Stechyshyn, Saveli︠a︡, and Vadym Dobroliz︠h︡. <i>Traditional Ukrainian Cookery</i>. 17th ed., Trident Press, 1991. ((Stechyshyn, pg#))</li>
    <li>Susan. "Slow Cooker Yogurt - Greek and Traditional." <i>The Lazy Slow Cooker</i>, 24 June 2022, <a href="https://thelazyslowcooker.com/lazy-slow-cooker-yogurt-greek-or-regular/">https://thelazyslowcooker.com/lazy-slow-cooker-yogurt-greek-or-regular/</a>. Accessed 14 Mar 2024. ((Susan, <i>Slow Cooker Yogurt</i>))</li>
    <li>TasteAtlas. "Kutia with Barley Authentic Recipe." <i>TasteAtlas</i>, Atlas Media, Inc., <a href="https://www.tasteatlas.com/kutia/recipe/kutia-with-barley>https://www.tasteatlas.com/kutia/recipe/kutia-with-barley</a>. Accessed 19 Dec 2023. ((TasteAtlas, <i>Kutia with barley authentic recipe</i>))</li>
    <li>"The Right Time to Sift | Cook's Illustrated." <i>America's Test Kitchen</i>, <a href="http://www.americastestkitchen.com/cooksillustrated/how_tos/5515-the-right-time-to-sift>http://www.americastestkitchen.com/cooksillustrated/how_tos/5515-the-right-time-to-sift</a>. Accessed 20 Dec 2023. (("The Right Time to Sift | Cook's Illustrated"))</li>
    <li>Watson, Brian. "Thee Burger Dude." <i>Thee Burger Dude</i>, <a href="https://theeburgerdude.com/">https://theeburgerdude.com/.html</a>. Accessed 19 Jan. 2025. ((Watson, <i>Thee Burger Dude</i>))</li>
</ol>


<p>Updated: v2.0, 2025.11.04 ama</p>
</div></Layout>